spring:
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedHeaders: "*"
            allowedMethods:
              - GET      # <--- Espace OBLIGATOIRE ici
              - POST     # <--- Espace OBLIGATOIRE ici
              - PUT
              - DELETE